// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #047BFB;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #B0B1B1;
$light-gray: #F4F4F4;
$message-green: #D3FDC5;
$background-blue: #2E415B;
$action-blue: #00A09C;
$transparent-gray: rgba(40, 40, 40, 0.1);
$hover-gray: #F4F5F5;
