<div class="chat-card-sender">
  <p class="sender-name"><strong> <%= user.username %> </strong></p>
  <p class="time"><%= message.date %></p>
</div>
<div class="chat-card-message">
  <p>
    <i class="fas fa-check-double tick <%= 'blue' if message.seen %>"></i>
    <%= message.content %>
  </p>
</div>
