<div class="chat-card-sender">
  <p class="sender-name"><strong> <%= user.username %> </strong></p>
  <p class="time <%= 'blue' if message.unseen? %>"><%= message.date %></p>
</div>
<div class="chat-card-message">
  <div class="message-content">
    <p><%= message.content %></p>
  </div>
  <% if message.unseen? %>
    <div class="count-unseen">
      <p>3</p>
    </div>
  <% end %>
</div>

