<div class="container" id="container-dashboard">
  <div class="navbar">
    <%= link_to root_path do %>
      <i class="fas fa-cog icon"></i>
    <% end %>
    <h4>Chats</h4>
    <i class="far fa-edit icon"></i>
  </div>
  <div class="chat-list">
    <div class="chat-card">
      <div class="chat-card-avatar">
        <p>hi</p>
      </div>
      <div class="chat-card-info">
        <div class="chat-card-sender">

        </div>
        <div class="chat-card-message">

        </div>
      </div>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>
    <div class="chat-card">
      <p>hello</p>
    </div>

  </div>
</div>
