<div id="footer-send">
  <input type="text" id="hey">
  <div class="send-icon-background" onclick="document.getElementById('hey').blur().transitionDuration = '5s';">
        <i class="far fa-paper-plane send-icon"></i>
      </div>
  <%= simple_form_for [ @chat, Message.new ] do |f| %>
    <%= f.input :content, label: false, class: 'message-content'%>
    <%= f.button :button do %>
      <div class="send-icon-background" onclick="document.getElementById('hey').blur();">
        <i class="far fa-paper-plane send-icon"></i>
      </div>
    <% end %>
  <% end %>

</div>

