<div id="footer-send">
  <input type="text" id="redaction-bar">
  <%= simple_form_for([ @chat, Message.new ], remote: true) do |f| %>
    <%= f.input :content, :as => :hidden, label: false, class: 'message-content'%>
    <%= f.input :recipient_id, :as => :hidden, label: false, input_html: {value: @contact.id}%>
    <%= f.button :button, class: 'send-icon-background submit-message' do %>
      <i class="far fa-paper-plane send-icon"></i>
    <% end %>
  <% end %>
</div>

<script>
  function sendMessageInAjax() {
    const input = document.getElementById('redaction-bar');
    const messageContent = input.value;
    input.value = '';
    input.focus();
    const messageInput = document.getElementById('message_content');
    messageInput.value = messageContent;
  };

  document.querySelector(".submit-message").addEventListener("click", sendMessageInAjax);

// PROBLEM: AFTER HITTING SEND, THE SOFT KEYBOARD CLOSES
// ATTEMPTED SOLUTION:
// 1-create a click event that focuses on input once send buttton is clicked WORKS
// 2- use prompt()
// 3- just .click() input after submitting
  // function focusOnInput() {
  //   const input = document.getElementById('redaction-bar');
  //   input.focus();
  // }
  // document.querySelector(".submit-message").addEventListener("click", focusOnInput);


</script>

