<% was_sent_by_user = message.sender == @user%>
<div class="bubble_2 <%= 'alti' if was_sent_by_user %>">
  <span>
    <%= message.content %>
  </span>
  <span class="timestamp"><%= message.time %></span>
  <% if message.last_of_series? %>
    <div class="bubble-arrow2 <%= 'alti' if was_sent_by_user %>"></div>
  <% end %>
</div>
