<div class="navbar navbar-chat">
  <%= link_to root_path do %>
  <div class="btn-return-to-dashboard">
    <i class="fas fa-angle-left navbar-return icon"></i>
    <%= render 'unseen_chat_count', user: @user %>
  </div>
  <% end %>
  <div class="navbar-contact-info">
    <%= image_tag @contact.photo.url, class: "avatar-small" %>

    <div class="sender-details">
      <p class="sender-name"><strong><%= @contact.username %></strong></p>
      <p class="sender-status">last connected today at 15:23</p>
    </div>
  </div>
  <div class="call-options">
    <i class="fas fa-video icon"></i>
    <i class="fas fa-phone navbar-call icon"></i>
  </div>
</div>
