<%= render 'navbar_send' %>
<div class="container container-messages">
  <% @chat.sort_chronologically.each do |message| %>
    <% was_sent_by_user = (message.sender == @user)%>
    <%= render 'messages/message', message: message, was_sent_by_user: was_sent_by_user %>
  <% end %>
</div>
  <%= render 'footer_send' %>

<script>
  // const redactionBar = document.getElementById('redaction-bar');
  // const navbar = document.querySelector('.random');

  // function repositionOnTop() {
  //   let objDiv = document.querySelector(".othertest");
  //   objDiv.scrollTop = objDiv.scrollHeight;
  //   window.scrollTo(0, 0);
  // }

  // redactionBar.addEventListener('click', repositionOnTop);

  // const test = document.querySelector('.random2');

  // function positionBack(el) {
  //   el.classList.remove("top");
  // }

  // test.addEventListener('click', positionBack(navbar));
  // navbar navbar-chat




</script>













