<div class="navbar navbar-chat">
  <div>
    <%= link_to root_path do %>
      <i class="fas fa-angle-left navbar-return icon"></i>
    <% end %>
  </div>
  <div class="navbar-contact-info">
    <%= image_tag 'https://storyteq.com/wp-content/uploads/2018/01/Square_avatar_Badr.jpg', class: "avatar-small"%>
    <div class="sender-details">
      <p class="sender-name"><strong>Sebastian</strong></p>
      <p class="sender-status">last connected today at 15:23</p>
    </div>
  </div>
  <div class="call-options">
    <i class="fas fa-video icon"></i>
    <i class="fas fa-phone navbar-call icon"></i>
  </div>
</div>
