<%= render 'chats/navbar_send' %>
<div class="container container-messages">
  <% @chat.sort_chronologically.each do |message| %>
    <% was_sent_by_user = (message.sender == @user)%>
    <%= render 'messages/message', message: message, was_sent_by_user: was_sent_by_user %>
  <% end %>
</div>
  <%= render 'chats/footer_send' %>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'append_received_message' %>
<% end %>













