.add-contact {
  display: flex;
  border-bottom: 1px solid rgba(40, 40, 40, 0.1);
  align-items: center;
  // justify-content: space-around;
  .fa-user-plus {
    padding: 0px 10px 0px 10px;
  }
  input {
    margin: 10px 0px 10px 10px;
    &::placeholder {
      font-size: 16px;
      // color: $gray;
    }
  }
}
