.chat-card {
  height: 75px;
  display: flex;
}

.chat-card-avatar {
  width: 75px;
}

.chat-card-info {
  flex-grow: 1;
  border-bottom: 1px solid $transparent-gray;
  display: flex;
  flex-direction: column;
}

.chat-card-sender {
  background: red;
  display: flex;
  justify-content: space-between;
}

.chat-card-message {
  background: green;
  flex-grow: 1;
}

.chat-card-arrow {
  width: 20px;
  font-size: 25px;
  display: flex;
  align-items: center;
}
