.chat-card {
  height: 75px;
  display: flex;
  color: $gray;
  &:hover {
    background: $hover-gray;
  }
}

.chat-card-info {
  flex-grow: 1;
  border-bottom: 1px solid $transparent-gray;
  display: flex;
  flex-direction: column;
}

.chat-card-sender {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  .time {
    font-size: 16px;
    padding-top: 2px;
  }
  .sender-name {
    color: rgb(10,10,10);
  }
}

.chat-card-message {
  flex-grow: 1;
  font-size: 16px;
  display: flex;
  p {
    line-height: 19px;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 8px;
    height: 38px;
    overflow: hidden;
    // text-overflow: ellipsis;
  }
}

.chat-card-arrow {
  width: 30px;
  min-width: 30px;
  padding-left: 5px;
  font-size: 25px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $transparent-gray;
  a {
    text-decoration: none;
    color: $gray;
  }
}

.tick {
  font-size: 12px;
}

.blue {
  color: $blue;
}

.count-unseen {
  flex: none;
  border-radius: 50%;
  color: white;
  background: $blue;
  align-self: center;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-bottom: 10px;
  p {
    display: inline-block;
    font-size: 14px;
    font-weight: lighter;
    padding-top: 1px;
  }
}

.message-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
