.message-wrapper {
  width: 100%;
  // margin: 10px 0px 0px 15px;
  &.sent {
    // margin: 10px 15px 0px 0px;
    display: flex;
    justify-content: flex-end;
  }
}


.bubble {
  color:black;
  background: white;
  display: inline-block;
  max-width: 80%;
  border-radius: 7.5px;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  position: relative;
  // z-index: 0;
  padding: 3px 5px 3px 5px;
  // float: left;
  margin: 0.1em 0px 0px 15px;
  &.extra-top-space {
    margin: 0.6em 0px 0px 15px;
  }
  &.sent {
    margin: 0.1em 15px 0px 0px;
    // float: right;
    background: $message-green;
    &.extra-top-space {
    margin: 0.6em 15px 0px 0px;
  }
  }
}

.timestamp {
  padding-left: 15px;
  font-size: 11px;
  padding-top: 10px;
  font-weight: 100;
  float: right;
  color: $gray;
}

.check-small {
  font-size: 9px;
}

.bubble-arrow {
  position: absolute;
  width: 0;
  bottom:34px;
  left: -16px;
  height: 0;
  // z-index: 0;
  &:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 9px solid white;
    border-radius: 0 20px 0;
    width: 15px;
    height: 30px;
    transform: rotate(145deg);
    // z-index: -1;
  }
  &.sent{
    right: -2px;
    bottom: 30px;
    left: auto;
  }
}

.bubble-arrow.sent:after {
  transform: rotate(45deg) scaleY(-1);
  border-top: 9px solid $message-green;
}
