.navbar {
  // z-index: 10;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $light-gray;
  color: black;
  border-bottom: 1px solid $transparent-gray;
  margin: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  // position: fixed;
  // position: -webkit-fixed;
  top: 0;
  padding-left: 15px;
  padding-right: 15px;
  &:before, &:after{
    content:none;
  }

  .icon {
    color: $blue;
  }
}

.navbar-return {
  font-size: 30px;
}
.navbar-call {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.navbar-contact-info {
  flex-grow: 1;
  display: flex;
  padding-left: 20px;
}

.navbar-chat {
  padding-left: 5px;
  padding-right: 15px;
}

.call-options {
  display: flex;
  justify-content: space-between;
  width: 65px;
}

.sender-details {
  padding-left: 10px;
}

.sender-status {
  font-size: 13px;
  font-weight: 100;
  color: $gray;
  margin-top: -1px;
}
